/* 
@media screen and (min-width: 1000px)
{
    body{
    background-color: orange;

    }
}
@media  screen and  (max-width : 500px)
{
body{
    background-color : pink;
}
} */
.row-header
{
    margin : 0px auto;
    padding : 0px auto;
}

.row-content
{
    margin : 0px auto;
    padding: 50xp 0px 50px 0px;
    min-height: 400px;
}
.footer
{
    background-color: #d1c4e9;
    margin : 0px auto;
    padding : 20px 0 20px 0;
}
.jumbotron 
{
 padding : 70px 30px;
 margin : 0px auto;
 background : #9575cd; 
 color: floralwhite;  
}
.address{
    font-size: 80%;
    margin : 0px auto;
    color : #0f0f0f;
}
body
{
    padding : 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark
{
background-color : #512da8;
}

.blacktext
{
    color : black;
}
/* .reserve-table
{
    margin-left: 8%;
} */
/* .carousel-div
{
    text-align: center;
    background : red;
}
.carousel-item{
    margin-top: 6rem;
} */
.carousel
{
    background-color: #512DA8;
}
.carousel-item
{
    height : 300px;
    color : black;
}
.carousel-item img{
    position: absolute;
    top : 0;
    left : 0;
    min-height : 300px;
}
.carousel-caption{
    color : #dddddd;
}